@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
  }
}
*/

@layer components {
  .customButtonOne{
    @apply border py-1 px-3 rounded-[4px] md:bg-white md:border-2 md:border-red-500 md:text-red-500 md:hover:bg-red-500 md:hover:text-white transition-all bg-red-500 md:w-auto w-[30%] text-center hover:bg-white hover:text-red-500
  }
  
}

/*
background-color: #1a1a1a;
background-color: #242424;
color: #213547;
background-color: #ffffff;
background-color: #f9f9f9;
color: rgba(255, 255, 255, 0.87);
color: #747bff;
border-color: #646cff;
color: #535bf2;

*/
