@tailwind base;
@tailwind components;
@tailwind utilities;

/*
background-color: #1a1a1a;
background-color: #242424;
color: #213547;
background-color: #ffffff;
background-color: #f9f9f9;
color: rgba(255, 255, 255, 0.87);
color: #747bff;
border-color: #646cff;
color: #535bf2;

*/