* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    border-top: 2px solid #8a2be2;
    border-right: 5px dashed #8a2be2;
    border-bottom: 2px solid #8a2be2;
    border-left: 5px dashed #8a2be2;
    background: #f3e9fc;
    height: 2000px;
}

h1 {
    /* text-align: center; */
    color: blueviolet;
    text-shadow: 7px 5px 6px rgba(138, 43, 226, 0.8);
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    height: 35px;
    width: 360px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.external {
    font-size: 20px;
    background-color: #ffd7ed;
    color: black;
    text-align: center;
}

.mod1 {
    background-color: #36802d;
    color: #c9df8a;
    padding: 10px;
    border-radius: 5px;
    margin-left: -8px;
    font-style: italic;
}
.list1{
    margin: 15px 10px 10px 10px;
    line-height: 25px;
}
.learn {
    font-size: 20px;
    margin: 20px;
}
.jhankarBhai2 > p,
.jhankarBhai > p{
    font-size: 20px;
    background-color: #87ceeb;
    height: 45px;
    width: 180px;
    text-align: center;
    font-weight: bold;
    /*display: block;*/
}
.jhankarBhai{
    background-image: url("https://www.tbsnews.net/sites/default/files/styles/infograph/public/images/2021/07/08/img_2842_0.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 600px;
    border-radius: 15px;
    display: inline-block;
    margin: 0 0 10px 10px;
}
.jhankarBhai2{
    border: 1px solid black;
    height: 400px;
    width: 598px;
    border-radius: 5px;
    background-image: url("https://qph.cf2.quoracdn.net/main-thumb-19233458-200-bOipoRLBNvrrPxLmBkUUCAW4HDDDwDyX.jpeg");
    background-position: bottom right;
    background-repeat: no-repeat;
    margin: 0 0 10px 10px;
}
.login{
    border: 1px solid black;
    margin: 10px;
    border-radius: 15px;
    height: 600px;
    width: 800px;
}
.login > form {
    margin: 20px;
}
.login > form > input {
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px;
}