.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* position: relative; */
}

.products-container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.proceed-link{
    text-decoration: none;
}
.btn-proceed {
    background: #FF9900;
    width: 90%;
    height: 56px;
    font-size: 21px;
    margin: 10px auto;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    gap: 0.3rem;
    margin-bottom: 1.5rem;
}

.pagination .selected-pag{
    background-color: #FF9900;
}

.page-drop-down{
    padding: 0 0.5rem;
    border-radius: 0.5rem;
}