@tailwind base;
@tailwind components;
@tailwind utilities;

/* background-color: #242424;
color: rgba(255, 255, 255, 0.87);
color: #646cff;
color: #535bf2;
color: #747bff; 
filter: drop-shadow(0 0 2em #61dafbaa);
color: #888;
filter: drop-shadow(0 0 2em #646cffaa);*/